<div class="container">
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <img  width="500" height="600" src="/assets/images/people.jpg" class="img-fluid"
        alt="">
    </div>
    <div class="col-md-6 mb-3">
      <h3>Cursos</h3>
      <h2>Inglés para adultos</h2>
      <p class="texto-azul">Este programa esta dirigido para 15 personas en adelante</p>
      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit elementum ornare praesent arcu, risus tellus neque parturient accumsan nostra pharetra sem semper. In elementum facilisi netus dui quis lobortis fames dapibus duis dis, rhoncus eget nisl tincidunt etiam enim lacinia potenti magnis, mauris platea maecenas faucibus urna dictumst vulputate laoreet orci. Convallis vel eleifend a tempus neque eget leo et sociosqu, metus himenaeos risus hac est sociis morbi elementum, platea dapibus ullamcorper volutpat nostra porta nec vestibulum.</p>
    </div>
  </div>
</div>


<div class="container">
  <p class="texto-azul tablaTitulo text-center">Con nuestro programa de Inglés podras:</p>
 
  <div class="form-row ">
      <div class="col-md-3 mb-3 menu-item" (click)="data = 1" >
        Nivel 1 a 4
        Fundamental
      </div>
      <div class="col-md-3 mb-3 menu-item" (click)="data = 2">
          Nivel 5 a 8
          Fundamental Plus
      </div>
      <div class="col-md-3 mb-3 menu-item" (click)="data = 3">
          Nivel 9 a 12
          Pre-Independent
      </div>
      <div class="col-md-3 mb-3 menu-item" (click)="data = 4">
          Nivel 13 a 16
          Independent
      </div> 
  </div> 
  <ng-container [ngSwitch]="data"> 
    <ng-container *ngSwitchCase="'1'">
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <ul>
              <li>Dar informacion</li>
              <li>Ir de compras</li>
              <li>Hablar de tu familia</li>
              <li>Escribir un correo electronico corto</li>
            </ul>
          </div>
          <div class="col-md-6 mb-3">
            <img  width="500" height="600" src="/assets/images/girl.jpg" class="img-fluid imagen"  alt=""> 
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'2'">
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <ul>
                <li>Seguir direcciones en un mapa</li>
                <li>Hacer reserva en un hotel</li>
                <li>Hablar de tu familia</li>
                <li>Hablar con alguien de algun viaje</li>
              </ul>
            </div>
            <div class="col-md-6 mb-3">
              <img  width="500" height="600" src="/assets/images/map.jpg" class="img-fluid imagen"  alt=""> 
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'3'">
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <ul>
                  <li>Seguir direcciones en un mapa</li>
                  <li>Hablar en inglés en videollamadas</li>
                </ul>
              </div>
              <div class="col-md-6 mb-3">
                <img  width="500" height="600" src="/assets/images/girl3.jpg" class="img-fluid imagen"  alt=""> 
              </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'4'">
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <ul>
                    <li>Hablar de tu vida en conversatorios</li>
                    <li>Hablar con nativos </li>
                  </ul>
                </div>
                <div class="col-md-6 mb-3">
                  <img  width="500" height="600" src="/assets/images/girl4.jpg" class="img-fluid imagen"  alt=""> 
                </div>
              </div>
          </ng-container>
  </ng-container>
</div>





<div class="container">
  <h3 class="texto-azul tablaTitulo">Equivalencia con el Marco Común <br> Europeo de Referencia (MCER)</h3>
  <div class="form-row">
      <div class="col-md-3 mb-3">
        <p class="negrilla">Programa de Inglés para adultos (programa 4 días, Sabados e itensivos).</p>
      </div>
      <div class="col-md-9 mb-3">
          <table class="table table-borderless table-sm">
              <colgroup>
                <col class="greyclaro" />
                <col class="greyclaro" />
                <col class="grey"  />
                <col class="greydark" />
              </colgroup>
              <thead>
                <tr>
                  <th scope="col">Material de estudio</th>
                  <th scope="col">Ciclo</th>
                  <th scope="col">Horas</th>
                  <th scope="col">Nivel MCER</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Libro Life 1</td>
                  <td>Fundamental 1-4</td>
                  <td class="text-center">128</td>
                  <td class="text-center">A1</td>
                </tr>
                <tr>
                  <td>Libro Life 2</td>
                  <td>Fundamental Plus 1-4</td>
                  <td class="text-center">128</td>
                  <td class="text-center">A2</td>
                </tr>
                <tr>
                  <td>Libro Life 3</td>
                  <td>Pre-Independent 1-4</td>
                  <td class="text-center">128</td>
                  <td class="text-center">B1</td>
                </tr>
                <tr>
                  <td>Libro Life 4</td>
                  <td>Independent 1-4 </td>
                  <td class="text-center">128</td>
                  <td class="text-center">B1+</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>

 
</div>














<div class="container-fluid">
    <div class="form-row">
      <div class="cuadrotest col-md-6 mb-3 text-center">
        <h3>Mide tu nivel de inglés gratis</h3>
        <p>Este es el primer paso para iniciar tus estudios con nosotros</p>
       
        <button type="button" class="btn test">Realizar test</button>
      </div>
      <div class="col-md-6 mb-3">
        <img  width="500" height="600" src="/assets/images/teenage.jpg" class="img-fluid"
          alt="">  
      </div>
    </div>
</div>


<app-formulario></app-formulario>
<app-footer></app-footer>
