
.texto-azul{
    color: rgb(80, 69, 240);
    font-weight: bold;
}


.tablaTitulo{
    font-size: 2rem;
}

.cuadrotest{
    background-color: rgb(80, 69, 240);  
    color: white;
    margin:  0px -10px 0px -10px; 
    padding: 60px 60px 60px 60px;
}
.imagen {
    border-radius: 40%;
}

.test{
    color: black !important;
    background-color: white;
    cursor: pointer;
    border:0.1rem solid #fff;
    transition:all 0.5s;
}

.greyclaro {
    background-color: rgba(128,128,128,.25);
}
.greydark {    
    background-color: rgba(112, 111, 111, 0.788);
}
.grey {
    background-color: rgba(172, 168, 168, 0.904);
}

.menu-item {
   
    cursor: pointer;  
    border-collapse: collapse;
    color: black;
    border:1px solid gray; 
    border-style: solid; 
    border-width: thin;
}