.formulario {
    background-color: #f7f7f7;  
    padding: 5rem;
    border-radius: 1rem;
}

.textopbx{
    background-color: rgb(80, 69, 240);  
    color: white;
}

.inicioform{
    color: rgb(80, 69, 240);
    font-size: 2rem;
    font-weight: bold;
}