<div class="container">
  <div class="form-row">
    <div class="inicioform col-md-6 mb-3">
        <p>¡Da el primer paso!<br> Estudia con nosotros </p>
    </div>
    <div class="textopbx col-md-6 mb-3 text-center">
        <h6>si tienes problemas comunicate con nosotros a traves del <br> PBX (+57) (2) 4810110 o desarrollo@existaya.com</h6>
    </div>
</div>

<div class="formulario container">
  <form [formGroup]="usuarioForm">
    <div class="form-row">
      <h2>Datos personales</h2>
    </div>
    <div class="form-row">   
      <div class="col-md-6 mb-3">
        <div class="form-group">
          <label for="validationDefault01">Nombre completo</label>
            <input type="text" class="form-control" id="validationDefault01" placeholder="" value="" formControlName="nombre">
        </div>
        <div class="form-group">
          <label for="validationDefault02">Nombre de contacto</label>
          <input type="text" class="form-control" id="validationDefault02" placeholder="" value="" formControlName="contacto">
        </div>
        <div class="form-group">
          <label for="inputEmail4">Correo electronico</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="" formControlName="email">
        </div>
        <div class="form-group">
            <label for="example-date-input">Fecha de nacimiento</label>
            <input class="form-control" type="date" value="03/04/1992" placeholder="03/04/1992" id="example-date-input" formControlName="fecha">
        </div>
        <div class="form-group">
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" formControlName="terminos">
              <label class="form-check-label" for="invalidCheck2">
                Acepto terminos y condiciones
              </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck3" formControlName="politica">
                <label class="form-check-label" for="invalidCheck3">
                    Acepto politica de tratamiento de datos
                </label>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3" >
        <div class="form-group"  *ngIf="departamentos.length > 0 ">
          <label for="inputDepartamento">Departamento: </label>
          <select  id="inputDepartamento" name="inputDepartamento"  (change)="obtenerCiudad()"  class="form-control" formControlName="departamento" >
            <option value="">Seleccione una opción</option>
            <option *ngFor="let depto of departamentos" [value]= "depto.Id"> {{ depto.Nombre }}</option> 
            </select>    
        </div> 
        <div class="form-group"   *ngIf="ciudades.length > 0">
            <label for="inputCiudad">Ciudad: </label>
            <select  id="inputCiudad" name="inputCiudad"  class="form-control" formControlName="ciudad">
              <option value="">Seleccione una opción</option>
              <option *ngFor="let ciudad of ciudadesFiltros" [value]= "ciudad.Id"> {{ ciudad.Nombre }}</option> 
            </select>   
        </div>
      </div>
    </div>
          
       
        
        
        <div class="form-row">
          <div class="col-md-12 mb-3">
            <button class="btn btn-primary" type="submit">Registrarme</button>
          </div>
        </div>
      </form>
</div>