<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="" title="Prueba">
        <img src="assets/images/logo.png" alt="Prueba" height="60px;" width="70px;">
    </a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" href="#">Titulo menu 01 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Titulo menu 02 </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Titulo menu 03 </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Titulo menu 04 </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Titulo menu 05</a>
            </li>
          
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-info my-2 my-sm-0" type="submit"> 
            <a  [routerLink]="" >
            <i class="fas fa-search blanco" aria-hidden="true"></i>
            </a>
        </button>
      </form>
    </div>
  </nav>
  <app-descripcion></app-descripcion>
<router-outlet></router-outlet>
