/* You can add global styles to this file, and also import other style files */

/*Angular Material*/
@import "~bootstrap/dist/css/bootstrap.css";
.navbar {
    border:1px solid #908988;
    margin:  10px 0px 30px 0px;
    color:#4B4948;
    background-color: white;
    box-shadow:  2px 3px 3px 3px #888888;
    font-family: 'Rubik', sans-serif;
}
.navbar-toggler{
    color: #000000
}

.negrilla{
    font-weight: bold;
}
.fas{
    color: #e21f26;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Rubik', sans-serif;
}
p{
    font-family: 'Rubik', sans-serif;
}
