<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">
    <div class="container">
      <div class="row">
      <ng-container  *ngFor="let logo of nombreLogos ;index as i">
        <div class="col-lg-2 col-md-2 col-sm-2 mb-4">
          <div class="view overlay z-depth-1-half">
            <img  width="70" height="70" src="/assets/images/{{logo}}" class="img-fluid"
              alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
        </div>
      </ng-container>  
      </div>
    <!--Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->